.banner {
    width: 100%;
    height: 60vw;
    overflow: hidden;
    position: relative;
    text-align: center;
 
}
.banner .background-img{
    width: 100%;
    position: absolute;
    left: 0;
    top: -40vw;
    z-index: -1;
}
.banner .background-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(4, 59, 36, 0.43);
    backdrop-filter: blur(5px);
    z-index: 1;
}
.banner .logo-circle {
    margin: 0 auto;
    margin-top: 10vw;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 2;
    background: #ffefc1;
    border: 10px solid #581e19;
}
.banner .title, .banner .sub-title {
    font-weight: bold;
    color: #581e19;
    text-transform: uppercase;
}

.banner .title{ 
    padding-top: 10vw;
    font-size: 5em;
    margin-bottom: 0;
}
.banner .sub-title {
    margin-top: 0;
}

#wave {
    margin-top: -100vw;
    position: relative;
    z-index: 3;
}