.categorias{
    width: 50%;
    background-color: #fef0c1;
    margin: 1% auto;
    border: 7px solid #832e29;
    padding: 7px;
}

.categorias .titulo{
    background-color: #832e29;
    width: 100%;
    color: white;
    justify-content: space-between;
    text-align: center;
    line-height: 1px;
    display: inline-block;
    
}

.categorias .titulo h3 {
    font-size: 2em;
    text-transform: uppercase;
}
.categorias .titulo h4 {
    font-size: 1.2em;
}

.categorias .listado ul {
    margin-bottom: 0;
    padding-bottom: 10px;
    list-style: none;
    text-align: left
    
}