body { 
    background-color: #ffefc1;
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario{
   text-align: justify;
}

.gustos{
    text-align: center;
}
