body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #508067;
  }

.menu {
    overflow: hidden;
    background-color: rgba(131, 46, 41, 0.451);
    backdrop-filter: blur(2px);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: .5s;
  }

  .menu.menu-opacity {
    background-color: rgb(131 46 41);
  }
  
  .menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    transition: .5s;

  }
  
  .menu a:hover {
    background-color: #5a1e1e;
    color: white;
    font-weight: bold;
  }
  
  .menu a.active {
    background-color: #ffefc1;
    color: black;
  }
